{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
{% load bootstrap %}

<div id="page-content-wrapper">
    <div id="content">
        <div class="container-fluid p-0 px-lg-0 px-md-0">
            <!-- Topbar -->
            {% include 'topbar.html' %}

            <form id="filter-form" action="" method="POST" hidden>
                {% csrf_token %}
                <input type="text" id="search_keyword" name="search_keyword" value="{{search_keyword}}">
                <input type="text" id="selected_priority" name="selected_priority" value="{{selected_priority}}">
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            <div class="col-md-12">

                <div class="board-layout">

                    <div class="card">
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-md-flex align-items-center">
                                <div>

                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light "
                                            placeholder="Search by Ticket Name" aria-label="Search" id="search_data"
                                            name="search_data" value="{{search_keyword}}">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" onclick="search()">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <br />

                                <div class="ml-auto">

                                    {% csrf_token %}
                                    <div class="dl">
                                        <select id="priority_select" name="priority_select" class="custom-select"
                                            onChange="filterPriority()">
                                            <option value="-1" {% if selected_priority in '-1' %} selected {% endif %}>
                                                None</option>
                                            {% for priority in priorities %}

                                            <option value="{{priority.id}}">{{priority.name}}</option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                </div>
                            </div>

                            <!-- title -->
                        </div>
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h4 class="card-title">Boards</h4>
                                    <h5 class="card-subtitle">List of all available Boards</h5>
                                </div>

                                <div class="ml-auto">
                                    <div class="d-flex justify-content-end">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-success dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Boards
                                            </button>
                                            <div class="dropdown-menu">
                                                {% for board in boards %}
                                                <a class="dropdown-item"
                                                    href="{% url 'boards' board.id %}">{{board.title}}
                                                    <span hidden>{{board.id}}</span></a>
                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>



                            <div class="d-md-flex align-items-center mt-100">
                                <div class="left">
                                    <div class="board-text">{{board.title}}</div>
                                </div>
                                <div class="ml-auto">
                                    <div class="dl">
                                        {% if request.user.is_superuser or request.user.is_admin %}

                                        <a href="{% url 'create_ticket' %}"
                                            class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
                                            Add New Ticket<i class="fas fa-plus-circle mx-2"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="board-lists">

                                <div id='list1' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title">
                                        To Do
                                    </div>

                                    {% for ticket in todo %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                                <div id='list2' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title">
                                        In Progress
                                    </div>
                                    {% for ticket in progress %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>

                                <div id='list3' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title">
                                        In Review
                                    </div>
                                    {% for ticket in review %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                                <div id='list4' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title">
                                        Completed
                                    </div>
                                    {% for ticket in completed %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                            </div>

                        </div>


                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Manage Ticket/h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <p id="users"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function showModal(id) {
        console.log("id: " + id);
        getUsers(id)
        $('#myModal').modal('show');
    }
</script>


<script>
    function getUsers(id) {
        let data = new FormData();
        let csrftoken = getCookie('csrftoken');

        data.append("id", id);
        data.append("csrfmiddlewaretoken", csrftoken);
        axios.post('get_users/', data) // 4
            .then(res => {
                if (res.data.status) {
                    console.log(res.data.users);

                }
            }) // 5
            .catch(errors => console.log(errors));
    }

    function search() {
        let search_data = document.getElementById("search_data");
        let search_keyword = document.getElementById("search_keyword");
        search_keyword.value = search_data.value;

        document.getElementById("filter-form").submit();
    }

    function filterPriority() {
        let priority_select = document.getElementById("priority_select"); //value set from options
        let selected_priority = document.getElementById("selected_priority"); //value set to filter form
        selected_priority.value = priority_select.value;

        document.getElementById("filter-form").submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        let selected_priority = document.getElementById("selected_priority"); //value set to filter form
        let priority_select = document.getElementById("priority_select").options;
        for (let i = 0; i < priority_select.length; i++) {
            if (priority_select[i].value == selected_priority.value) {
                priority_select.selectedIndex = i;
            }
        }
    });
</script>

{% endblock %}