{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
{% load bootstrap %}
{% load static %}
<div id="page-content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <!-- Topbar -->
            {% include 'topbar.html' %}

            <form id="filter-form" action="" method="POST" hidden>
                {% csrf_token %}
                <input type="text" id="search_keyword" name="search_keyword" value="{{search_keyword}}">
                <input type="text" id="selected_priority" name="selected_priority" value="{{selected_priority}}">
                <input type="text" id="selected_boards" name="selected_boards" value="{{selected_boards}}">

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

            <div class="col-md-12">
                <div class="board-layout">
                    <div class="card">
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-md-flex align-items-center">
                                <div class="left">
                                    <div class="board-text">{{board}}</div>

                                </div>

                                <div class="ml-auto">
                                    <div class="dl">

                                        <div class="btn-group">
                                            <select multiple id="board-select" name="board-select" class="custom-select"
                                                onChange="filterboard()">

                                                {% for board in boards %}
                                                {% if board.id in selected_boards %}

                                                <option selected value="{{board.id}}">{{board.title}}</option>
                                                {% else %}
                                                <option value="{{board.id}}">{{board.title}}</option>
                                                {% endif %}
                                                {% endfor %}

                                            </select>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="d-md-flex align-items-center">
                                <div>

                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light "
                                            placeholder="Search by Ticket Name" aria-label="Search" id="search_data"
                                            name="search_data" value="{{search_keyword}}">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" onclick="search()">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                {% if request.user.is_superuser or request.user.is_admin %}

                                <a href="{% url 'create_ticket' %}"
                                    class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm ml-3">
                                    Add New Ticket<i class="fas fa-plus-circle mx-2"></i></a>
                                {% endif %}
                                <br />

                                <div class="ml-auto" hidden>

                                    {% csrf_token %}
                                    <div class="dl">
                                        <select id="priority_select" name="priority_select" class="custom-select"
                                            onChange="filterPriority()">
                                            <option value="-1" {% if selected_priority in -1 %} selected {% endif %}>
                                                None</option>
                                            {% for priority in priorities %}

                                            <option value="{{priority.id}}">{{priority.name}}</option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                </div>
                            </div>
                            <br />

                            <!-- Selected board style="height: 400px; overflow-y: scroll;"-->
                            <div class="board-lists">
                                <div id='list5' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title fixed-element">
                                        <div class="d-flex justify-content-between">
                                            <span>To Do</span>
                                            <div class="d-flex justify-content-between">
                                                <span class="up-arrow">
                                                    ▲
                                                </span>
                                                <span class="down-arrow">
                                                    ▼
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                    {% for ticket in todo %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                                <div id='list6' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title fixed-element">
                                        <div class="d-flex justify-content-between">
                                            <span>In Progress</span>
                                            <div class="d-flex justify-content-between">
                                                <span class="up-arrow">
                                                    ▲
                                                </span>
                                                <span class="down-arrow">
                                                    ▼
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                    {% for ticket in progress %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>

                                <div id='list7' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title fixed-element">
                                        <div class="d-flex justify-content-between">
                                            <span>In Review</span>
                                            <div class="d-flex justify-content-between">
                                                <span class="up-arrow">
                                                    ▲
                                                </span>
                                                <span class="down-arrow">
                                                    ▼
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                    {% for ticket in review %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                                <div id='list8' class="board-list" ondrop="dropIt(event)" ondragover="allowDrop(event)">
                                    <div class="list-title fixed-element">
                                        <div class="d-flex justify-content-between">
                                            <span>Completed</span>
                                            <div class="d-flex justify-content-between">
                                                <span class="up-arrow">
                                                    ▲
                                                </span>
                                                <span class="down-arrow">
                                                    ▼
                                                </span>
                                            </div>


                                        </div>
                                    </div>
                                    {% for ticket in completed %}
                                    {% include 'ticket_item.html' %}
                                    {% endfor %}

                                </div>
                            </div>

                        </div>


                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Manage Ticket/h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <p id="users"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static '/js/sortDivs.js'%}"></script>

<script>
    function showModal(id) {
        console.log("id: " + id);
        getUsers(id)
        $('#myModal').modal('show');
    }
</script>


<script>
    function getUsers(id) {
        let data = new FormData();
        let csrftoken = getCookie('csrftoken');

        data.append("id", id);
        data.append("csrfmiddlewaretoken", csrftoken);
        axios.post('get_users/', data) // 4
            .then(res => {
                if (res.data.status) {
                    console.log(res.data.users);

                }
            }) // 5
            .catch(errors => console.log(errors));
    }

    function search() {
        let search_data = document.getElementById("search_data");
        let search_keyword = document.getElementById("search_keyword");
        search_keyword.value = search_data.value;

        document.getElementById("filter-form").submit();
    }

    function filterPriority() {
        let priority_select = document.getElementById("priority_select"); //value set from options
        let selected_priority = document.getElementById("selected_priority"); //value set to filter form
        selected_priority.value = priority_select.value;

        document.getElementById("filter-form").submit();
    }

    function filterboard() {
        let board_select = document.getElementById("board-select").selectedOptions; //value set from options
        let selected_board = document.getElementById("selected_boards");//value set to filter form
        var values = [];
        for (let i = 0; i < board_select.length; i++) {
            values.push(board_select[i].value);
        }
        // var values = Array.from(board_select).map(({ value }) => value);
        // console.log(board_select);
        selected_board.value = values;

        document.getElementById("filter-form").submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        let selected_priority = document.getElementById("selected_priority"); //value set to filter form
        let priority_select = document.getElementById("priority_select").options;
        for (let i = 0; i < priority_select.length; i++) {
            if (priority_select[i].value == selected_priority.value) {
                priority_select.selectedIndex = i;
            }
        }
    });
</script>

{% endblock %}