{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}

<div id="page-content-wrapper">
    <div id="content">
        <div class="container-fluid p-0 px-lg-0 px-md-0">
            <!-- Topbar -->
            {% include 'child_top_bar.html' %}
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card p-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mt-1 text-center">
                                <h4>Change Password</h4>
                                <div class="mt-3 inputbox"> <input type="password" class="form-control" name="password1"
                                        placeholder="Password">
                                </div>
                                <div class="mt-3 inputbox"> <input type="password" class="form-control" name="password2"
                                        placeholder="Confirm Password">
                                </div>
                            </div>

                            {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                            {% endif %}

                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                            <div class="alert alert-danger" role="alert">
                                {{message}}
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="mt-2"> <button type="submit"
                                    class="btn btn-primary btn-block mt-4 mb-4">Reset</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-left">
                        <p class="mb-0">
                            <a href="index.html" class="text-muted"><strong>Inventory Management
                                </strong></a> &copy
                        </p>
                    </div>

                </div>
            </div>
        </footer>

    </div>
</div>

{% endblock %}