{% extends 'main.html' %}
{% block content %}
{% include 'nav.html' %}
{% load bootstrap %}
{% load static %}

<div id="page-content-wrapper">
    <div id="content">
        <div class="container-fluid p-0 px-lg-0 px-md-0">
            <!-- Topbar -->
            {% include 'child_top_bar.html' %}
            <div class="col-md-12 mt-4">
                {{ boards_serialized|json_script:"boards" }}
                {{ ticket_serialized|json_script:"ticket" }}
                {{ groups_serialized|json_script:"groups" }}
                {{ accounts_serialized|json_script:"accounts" }}
                <!-- {{form}} -->
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-md-flex align-items-center">
                                <div>
                                    <h4 class="card-title">Tickets</h4>
                                    <h5 class="card-subtitle">Update Ticket</h5>
                                </div>

                            </div>
                            <!-- title -->
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- title -->
                                <form action="{% url 'create_ticket' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">Title</label>
                                        <input type="text" class="form-control" id="ticket_name" name="ticket_name"
                                            value="{{ticket.title}}" placeholder="Ticket Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="priority">Priority</label>
                                        <select class="form-control" id="priority" name="priority">
                                            {% for priority in priorities %}
                                            <option id="{{priority.id}}" {% if priority.name in ticket.priority.name %}
                                                selected {% endif %}> {{priority.name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="classification">Classification</label>
                                        <select class="form-control" id="classification" name="classification">
                                            {% for classification in classifications %}
                                            <option id="{{classification.id}}" {% if classification.name in
                                                ticket.classification.name %} selected>
                                                {{classification.name}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="group">Group</label>
                                        <select multiple data-multi-select-plugin id="group" name="group">

                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label for="boards">Boards</label>
                                        <select multiple data-multi-select-plugin id="boards" name="boards">
                                            <!-- {% for board in boards %}
                                        <option id="{{board.id}}" value="{{board.title}}">{{board.title}}</option>
                                        {% endfor %} -->
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="assigned-users">Assigned users</label>
                                        <select multiple data-multi-select-plugin id="assigned-users"
                                            name="assigned-users">
                                            {% for account in accounts %}
                                            <option id="{{account.id}}" value="{{account.email}}">{{account.email}}
                                            </option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="staff_complete"
                                            name="staff_complete">
                                        <label class="form-check-label" for="staff_complete">
                                            Staffs can move the ticket to completed
                                        </label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" name="description"
                                            rows="3">{{ticket.description}}"</textarea>
                                    </div>
                                </form>
                                <div class="list-group my-3">
                                    {% for attachment in attachments %}
                                    <a href="http://127.0.0.1:8000/static{{attachment.file.url}}"
                                        class="list-group-item list-group-item-action">{{attachment.file}}</a>
                                    <a href="#" data-toggle="modal" data-target="#attachmentDeleteModal{{ticket.id}}"
                                        class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mb-4">
                                        <i class="fas fa-trash-alt"></i></a>

                                    <div class="modal fade" id="attachmentDeleteModal{{ticket.id}}" tabindex="-1"
                                        role="dialog" aria-labelledby="attachmentDeleteModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="attachmentDeleteModal">Would you like
                                                        to delete {{attachment.file}}?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-sm btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <a class="btn btn-sm btn-danger"
                                                        href="{% url 'delete_attachment' attachment.id %}">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                {{ file_form | bootstrap }}
                                <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm "
                                    onclick="onPostForm()" value="SAVE">
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    const ticket = JSON.parse(JSON.parse(document.getElementById('ticket').textContent))[0];
</script>
<script src="{% static '/js/multi-selector.js'%}"></script>

{% endblock %}