{% load filename %}
<div id="general-{{ticket.id}}" class="card " draggable="true" data-value="{{ticket.priority.priority_value}}"
    ondragstart="dragStart(event)">
    <div class="d-md-flex justify-content-between">
        <div>
            <!-- <a href="{% url 'ticket_info' ticket.id %}" class="stretched-link">
            </a> -->
            <h6 class="card-title">{{ticket.title}} </h6>

            <p class="card-subtitle overme mt-4">{{ticket.description}} </p>
            {% if ticket.assigned_user.all %}
            <h6 class=" card-title mt-4">Assigned To:</h6>
            {% for user in ticket.assigned_user.all %}
            <h6 class="card-title">{{user}}</h6>
            {% endfor %}
            {% endif %}
        </div>

        <a>
            <div style="background-color: {{ticket.priority.color}}" class="d-none d-sm-inline-block btn-sm shadow-sm ">
                <span class="align-middle">{{ticket.priority}}</span>

            </div>
        </a>

    </div>
    {% with statement=1 %}
    {% for attachment in attachments %}
    {% if attachment.ticket.id == ticket.id and statement%}
    {% changeStatement statement as statement %}
    <h6 class="card-title mt-4">Attachments </h6>
    {%endif%}
    {%endfor%}
    {% endwith %}
    <div class="list-group my-3">
        {% for attachment in attachments %}
        {% if attachment.ticket.id == ticket.id %}
        <a href="http://192.168.1.184:82/static{{attachment.file.url}}"
            class="list-group-item list-group-item-action">{{attachment.file}}</a>

        {% endif %}
        {% endfor %}

    </div>
    <div class="d-md-flex justify-content-between mt-3">
        <a href="{% url 'claim_ticket' ticket.id %}">
            <div class="d-none d-sm-inline-block btn-sm btn-success shadow-sm ">
                <span class="align-middle">Claim</span>

            </div>
        </a>
        <a>
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                data-target="#attachment{{ticket.id}}">
                <span class="align-middle"> <i class="fas fa-paperclip">
                    </i></span>
            </button>
        </a>

        <a href="{% url 'ticket_info' ticket.id %}">
            <div class="d-none d-sm-inline-block btn-sm btn-success shadow-sm ">
                <span class="align-middle"><i class="fas fa-eye"></i></span>

            </div>
        </a>

        {% if request.user.is_superuser %}
        <a href="{% url 'update_ticket' ticket.id %}">
            <div class="d-none d-sm-inline-block btn-sm btn-warning shadow-sm ">
                <span class="align-middle"><i class="far fa-edit"></i></span>

            </div>
        </a>
        {% endif %}
    </div>
    <div class="modal fade" id="attachment{{ticket.id}}" tabindex="-1" aria-labelledby="attachment" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'quick_attach' ticket.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="attachment">Quick Attachments</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="file" id="id_file" name="file" multiple="multiple">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>